
 html, body {
    height: 100%;
    line-height: 1;
    color: black;
    font-family: 'PT Sans Narrow', sans-serif;  
} 

.offset:before{
    display: block;
    content: "";
    height: 4rem;
}

.offset{
    background-color: black !important;
}


.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: rgba(0, 0, 0, 0.9)!important;
}

.navbar-nav li{
    padding-right: .7rem; /*space beetwen menu items*/
}

.navbar-nav .nav-link{
    color: white;
    padding-top: .8rem;
}

 .navbar-nav .nav-link.active,
 .navbar-nav .nav-link:hover {
    color: #ffcc13;
}

.home-inner{
    background-image: url(../img/perfil1.jpg);
}



/* Timeline */

.timeline{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
}

.timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul{
    margin: 0;
    padding: 0;
}

.timeline li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline li .content{
    padding-bottom: 20px;
}

.timeline li:nth-child(odd){
    float: left;
    clear: both;
    text-align: right;
}

.timeline li:nth-child(odd):before{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255,204,19,1);
    box-shadow: 0 0 0 3px rgba(255,204,19,0.2);
}

.timeline li:nth-child(even){
    float: right;
    clear: both;
    text-align: left;
}

.timeline li:nth-child(even):before{
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255,204,19,1);
    box-shadow: 0 0 0 3px rgba(255,204,19,0.2);
}

.timeline li h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(255,204,19,1)
}

.timeline li p{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
}

.timeline li .time h4{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.timeline li:nth-child(odd) .time{
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(255,204,19,1);
    color: #000;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(255,204,19,.2); 
}

.timeline li:nth-child(even) .time{
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(255,204,19,1);
    color: #000;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(255,204,19,.2); 
}

@media (max-width: 1000px){
    .timeline{
        width: 100%;
    }
}

@media (max-width: 767px){
    .timeline{
        width: 100%;
    }

    .timeline .li p{
        color: #fff;
    }

    .timeline:before{
        left: 20px;
        padding-bottom: 0;
    }

    .timeline li:nth-child(odd),
    .timeline li:nth-child(even){
        width: 100%;
        text-align: justify;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .timeline li:nth-child(odd):before,
    .timeline li:nth-child(even):before{
        top: -18px;
        left: 16px;
    }

    .timeline li:nth-child(odd) .time,
    .timeline li:nth-child(even) .time{
        top: -30px;
        left: 50px;
        right: inherit;
        color: black;
    }
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 82%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1{
    font-size: 48px;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .1rem black;
}

.caption h6{
    font-size: 28px;
    text-shadow: .1rem .1rem .5rem black;
}


#particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}


.scrool-down{
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
}

.scrool-down span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}


/* Animation to up and down movement*/

@keyframes animate{
    0%{
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25%{
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    100%{
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}



/* TITLE SECTION */
.section-title{
    text-align: center;
    color: white;
}
.section-title h2{
    display: inline-block;
    font-size: 28px;
    border-bottom: 1px solid;
    text-transform: uppercase;
    padding: 0 0 10px;
    color: white
}

/* ABOUT SECTION */

.about-info{
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    z-index: 99;
} 

.about-info p{
    line-height: 28px;
    font-size: 22px;
    color: white;
}

.about-info .downloadbtn{
    display: inline-block;
    padding: 15px 35px;
    background-color: #ffffff20;
    border: 1px solid #ffffff30;
    border-radius: 50px;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 35px;
    position: relative;
    z-index: 999;
}

.timelineDate{
    color: white ;
}


/* SKILLS */

.get {
	display:none;
}

#diagram {
	width:600px;
    height:600px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}
 
/* ------ anchors
-----------------------------------------------*/

a {
    text-decoration:none;
    color:#333;
}


/* ASSOCIATION SECTION */
.tulha-info{
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    z-index: 99;
} 

.tulha-info p{
    line-height: 28px;
    font-size: 18px;
    color: #fff;
}

/* SERVICE SECTION */
.service{
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    z-index: 99;
}

.service .service-info{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}

.service .col{
    width: 40%;
    margin: 25px 30px;
    text-align: center;
}

.service .col img{
    max-width: 48px;
}

.service .col h3{
    margin-top: 10px;
    font-size: 28px;
    margin-bottom: 15px;
}

.service .col p{
    line-height: 28px;
}

/* ARTICLES SECTION */
.container{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
} 

.container .card{
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
}

.container .card .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #ffcc13;
}

.container .card .imgBx:before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255,255,255,.05);
    font-weight: 700;
}

.container .card .imgBx img{
    max-width: 100px;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx img{
    max-width: 75px;
}

.container .card .content{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .content h3{
    margin-bottom: 5px;
    font-size: 24px;
}

.container .card .content a{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}

/* TODO Colocar todos em apenas uma seçao de breaks BREAKPOINTS PORTEFOLIO */
@media (max-width: 992px){
    .container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .container .card{
        width: 400px;
    }
}

@media (max-width: 768px){
    .container .card{
        width: 300px;
        flex-direction: column;
        height: auto;
    }

    .container .card .imgBx{
        position: relative;
    }

    .container .card .imgBx,
    .container .card:hover .imgBx{
        width: 100%;
        height: 200px;
        left: 0;
    }

    .container .card .imgBx img,
    .container .card:hover .imgBx img{
        max-width: 100px;
    }

    .container .card .content{
        position: relative;
        width: 100%;
    }

    .about-info p{
        line-height: 28px;
        font-size: 22px;
        color: white;
        text-align: justify;
    }
    .tulha-info p{
        line-height: 28px;
        font-size: 18px;
        color: #fff;
        text-align: justify;
    }
  
}


/* CONTACT SECTION */
.contact{
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
    z-index: 99;
}

.contact-info{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.contact-info .textField{
    width: 100%;
    height: 50px;
    border: 1px solid #fff;
    box-sizing: border-box;
    background-color: transparent;
    padding: 15px 15px;
    margin-bottom: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #fff;
    font-size: 16px;
}

.contact-info .messageField{
    height: 200px;
}

.contact-info .submitButton{
    background-color: #fff;
    color: #000;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}


/* PORTEFOLIO*/

ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

ul.filters > li{
    list-style: none;
    display: inline-block;
}

ul.filters > li > a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}

ul.filters > li > a:hover{
    background-color: #e6e9ed;
}

ul.filters > li.active > a{
    color: #fff;
    background-color: #ffcc13;
}

.card{
    position: relative;
    margin-bottom: 50px;
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075);
}

.card-head{
    position: relative;
    overflow: hidden;
}

.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(67, 78, 94, 0.194);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-hover{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,204,19,0.9);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

h4.title{
    color: #434e5e;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.card-btn{
    margin-bottom: -60px;
    font-size: 0.9rem;
    background-color: #fff !important;
    color: #222 !important;
    border: 1px solid #eee !important;
    border-radius: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.card-btn:hover{
    background-color: #ffcc13 !important;
    color: #fff !important;
}


.modal-dialog{
    height:calc(100% - 60px);
}
.modal-content{
height:100%;
}
.modal-header{
    height:50px;

}
.model-footer{
    height:75px;
}
.modal-body {
height:calc(100% - 125px);
overflow-y: scroll;     /*give auto it will take based in content */
}



@media (max-width: 767px) { 
    
    .caption{
        width: 100%;
        max-width: 100%;
        position: absolute;
        top: 69%;
        z-index: 1;
        color: white;
        text-transform: uppercase;
    }
    
    .caption h1{
        font-size: 38px;
        letter-spacing: .3rem;
    }
    
    .caption h5{
        font-size: 18px;
    }

    .navbar {
        text-transform: uppercase;
        font-weight: 700;
        font-size: .9rem;
        letter-spacing: .1rem;
        background-color: rgba(0, 0, 0, 0.9)!important;
    }


    #diagram {
        margin: 0 0 0 -100px;
        overflow: hidden;
        align-items: center;
        justify-content: space-around;
        display: flex;
        float: none;
    }
 }


